saves/
logs/
crash-reports/
cache/
screenshots/
options.txt

vintagefix/
.curseclient
BotaniaVars.dat
crafttweaker.log
dropt.log
hei_bookmarks.ini
hei_favorites.ini
minecraftinstance.json
patchouli_data.json
usercache.json
usernamecache.json
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/items.csv
config/time.history
astralsorcery/gatewayFilter/worldFilter.dat
config/astralsorcery/amulet_enchantments.cfg
xaero/world-map/
xaero/minimap/
config/buildcraft/detailed.properties
config/jei/worldSettings.cfg
optionsof.txt
roots.log
user-prefs.json
config/xaerominimap_entities.json
optionsshaders.txt
config/thaumicjei_itemstack_aspects.json
journeymap/journeymap.log
journeymap/data/
journeymap/config/
journeymap/server
servers.dat
loading-log.log
config/cleanroom_load_timings.dat
tinkersplannerantique/planner_bookmarks_tools.dat
visualores/
config/rc_cache/
