saves/
logs/
crash-reports/
cache/
screenshots/
options.txt

vintagefix/
.curseclient
BotaniaVars.dat
crafttweaker.log
dropt.log
hei_bookmarks.ini
hei_favorites.ini
minecraftinstance.json
patchouli_data.json
usercache.json
usernamecache.json
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/items.csv
config/time.history
astralsorcery/gatewayFilter/worldFilter.dat
config/astralsorcery/amulet_enchantments.cfg
