# Configuration file

animation {
    B:animation=true
    B:blockAnimations=true
    B:fire=true
    B:lava=true
    B:portal=true
    B:water=true
}


detail {
    B:biomeColors=true
    B:rainSnow=true
    B:sky=true
    B:skyColors=true
    B:stars=true
    B:sunMoon=true
    I:totalStars=1500
    B:voidFog=true
    B:voidParticles=true
}


extra {
    B:advancedItemTooltips=false
    B:hideHeiUntilSearch=false
    B:ignoreReducedDebugInfo=false
    B:modNameTooltip=false
    I:overlayCorner=0
    B:reducedMotion=false
    B:showCoords=false
    B:showFPSExtended=true
    B:showFps=false
    B:steadyDebugHud=false
    I:steadyDebugHudRefreshInterval=20
    I:textContrast=2
    B:toastAdvancement=true
    B:toastRecipe=true
    B:toastSystem=true
    B:toastTutorial=true
    B:toasts=true
    B:useAdaptiveSync=false
}


particle {
    B:blockBreak=true
    B:blockBreaking=true
    B:particles=true
    B:rainSplash=true
}


particle_classes {
    S:disabledClasses <
     >
    S:discoveredClasses <
        net.minecraft.client.particle.ParticleEnchantmentTable|ParticleEnchantmentTable
        net.minecraft.client.particle.ParticleSpit|ParticleSpit
        thedarkcolour.futuremc.client.particle.PandaSneezeParticle|PandaSneezeParticle
        drzhark.mocreatures.client.renderer.fx.MoCEntityFXUndead|MoCEntityFXUndead
        net.minecraft.client.particle.ParticleHeart|ParticleHeart
        net.minecraft.client.particle.ParticleLava|ParticleLava
        net.minecraft.client.particle.ParticleBreaking|ParticleBreaking
        logisticspipes.pipefxhandlers.EntitySparkleFX|EntitySparkleFX
        net.minecraft.client.particle.ParticleCrit|ParticleCrit
        net.minecraft.client.particle.ParticleWaterWake|ParticleWaterWake
        appeng.client.render.effects.ChargedOreFX|ChargedOreFX
        net.minecraft.client.particle.ParticleSplash|ParticleSplash
        forestry.apiculture.entities.ParticleBeeRoundTrip|ParticleBeeRoundTrip
        net.minecraft.client.particle.ParticleItemPickup|ParticleItemPickup
        net.minecraft.client.particle.ParticleMobAppearance|ParticleMobAppearance
        net.minecraft.client.particle.ParticleSuspend|ParticleSuspend
        net.minecraft.client.particle.ParticleDragonBreath|ParticleDragonBreath
        net.minecraft.client.particle.ParticleEndRod|ParticleEndRod
        net.minecraft.client.particle.ParticleCloud|ParticleCloud
        net.minecraft.client.particle.ParticleSweepAttack|ParticleSweepAttack
        net.minecraft.client.particle.ParticleDrip|ParticleDrip
        forestry.apiculture.entities.ParticleBeeTargetEntity|ParticleBeeTargetEntity
        net.minecraft.client.particle.ParticleExplosion|ParticleExplosion
        logisticspipes.pipefxhandlers.EntityModelFX|EntityModelFX
        net.minecraft.client.particle.ParticleSmokeNormal|ParticleSmokeNormal
        com.unseen.nb.client.particles.ParticlePixel|ParticlePixel
        thedarkcolour.futuremc.client.particle.SoulFlameParticle|SoulFlameParticle
        codechicken.lib.render.particle.DigIconParticle|DigIconParticle
        net.minecraft.client.particle.ParticleSmokeLarge|ParticleSmokeLarge
        net.minecraft.client.particle.ParticleBubble|ParticleBubble
        net.minecraft.client.particle.ParticleTotem|ParticleTotem
        me.ichun.mods.mobdismemberment.client.particle.ParticleBlood|ParticleBlood
        forestry.apiculture.entities.ParticleBeeExplore|ParticleBeeExplore
        net.minecraft.client.particle.ParticleSpell|ParticleSpell
        net.minecraft.client.particle.ParticleDigging|ParticleDigging
        net.minecraft.client.particle.Barrier|Barrier
        net.minecraft.client.particle.ParticleExplosionHuge|ParticleExplosionHuge
        com.wdcftgg.farmersdelightlegacy.client.particle.ParticleCookingPotBubble|ParticleCookingPotBubble
        net.minecraft.client.particle.ParticleBlockDust|ParticleBlockDust
        com.unseen.nb.client.particles.ParticleObsidianTear|ParticleObsidianTear
        net.minecraft.client.particle.ParticleExplosionLarge|ParticleExplosionLarge
        net.minecraft.client.particle.ParticleRain|ParticleRain
        fossilsarcheology.client.particle.ParticleTarBubble|ParticleTarBubble
        net.minecraft.client.particle.ParticleNote|ParticleNote
        slimeknights.tconstruct.shared.client.ParticleEffect|ParticleEffect
        net.minecraft.client.particle.ParticleSuspendedTown|ParticleSuspendedTown
        net.minecraft.client.particle.ParticleFallingDust|ParticleFallingDust
        de.ellpeck.actuallyadditions.mod.particle.ParticleBeam|ParticleBeam
        net.minecraft.client.particle.ParticleFootStep|ParticleFootStep
        net.minecraft.client.particle.ParticleSnowShovel|ParticleSnowShovel
        vazkii.botania.client.fx.FXSparkle|FXSparkle
        slimeknights.tconstruct.library.client.particle.EntitySlimeFx|EntitySlimeFx
        forestry.core.entities.ParticleHoneydust|ParticleHoneydust
        phylogeny.proportionaldestructionparticles.ParticleManagerMod$ParticleDiggingMod|ParticleDiggingMod
        com.wdcftgg.farmersdelightlegacy.client.particle.ParticleSteam|ParticleSteam
        net.minecraft.client.particle.ParticleRedstone|ParticleRedstone
        thedarkcolour.futuremc.client.particle.CampfireParticle|CampfireParticle
        net.minecraft.client.particle.ParticlePortal|ParticlePortal
        com.elytradev.architecture.common.block.BlockArchitecture$DiggingFX|DiggingFX
        net.minecraft.client.particle.ParticleFlame|ParticleFlame
        org.cyclops.evilcraft.client.particle.ParticleDarkSmoke|ParticleDarkSmoke
     >
}


render {
    B:armorStands=true
    B:beacons=true
    I:cloudDistance=0
    I:cloudHeight=192
    I:cloudScale=4
    I:cloudTranslucency=0
    B:clouds=true
    B:enchantingTableBooks=true
    B:fog=true
    I:fogDistance=0
    I:fogStart=100
    I:fogType=0
    I:itemFrameLodDistance=0
    B:itemFrameNameTag=true
    B:itemFrames=true
    B:lightUpdates=true
    B:limitBeaconBeamHeight=false
    B:paintings=true
    B:pistons=true
    B:playerNameTag=true
    B:preventShaders=false
}


