# Configuration file

biome-specific {
    S:"Block to generate in frozen caves"=packed_ice
    D:"Probability of glowing ice mushrooms in frozen caves"=0.3
    D:"Probability of glowing mushrooms in humid/jungle caves"=0.3
    D:"Probability of icicles in frozen caves"=0.6
    D:"Probability of less generation in arid caves"=0.5
    D:"Probability of more water fountains in wet caves"=0.1
    D:"Probability of sandstone stalactites in arid caves"=0.5
    D:"Probability of vines in jungle caves"=0.5
}


general {
    I:"Chance for a fossil node to generate"=5
    I:"Chance for a skull to be added in chests"=50
    I:"Flora light level"=5
    I:"Max height of structure generation"=80
    I:"Max length of structure generation"=8
    B:"Solid stalactites/stalagmites"=false
    B:"Stalagmites damage entities when fallen on"=false
    I:"Times to attempt generating per chunk"=10

    ##########################################################################################################
    # general
    #--------------------------------------------------------------------------------------------------------#
    # Settings for general mechanics
    ##########################################################################################################

    general {
        # The amount of light emitted by glowing mushrooms
        # Min: 0
        # Max: 15
        I:"Glowing Mushroom Light Level"=5

        # Whether stalactites/stalagmites can be collided with
        B:"Solid Stalactites/Stalagmites"=false

        # Makes stalactites/stalagmites damage entities when fallen on
        B:"Stalactites/Stalagmite Damage"=false
    }

    ##########################################################################################################
    # world_gen
    #--------------------------------------------------------------------------------------------------------#
    # Settings for world generation
    ##########################################################################################################

    world_gen {
        # Blocks that stalactites/stalagmites and other structures can hang from or generate on
        S:"Block Whitelist" <
            stone
            cobblestone
            sandstone
            coal_ore
            iron_ore
            gold_ore
            diamond_ore
            lapis_ore
            redstone_ore
            lit_redstone_ore
            emerald_ore
            ice
            snow
            monster_egg
         >

        # The Chance for Bone Pile blocks to generate
        I:"Bone Pile Chance"=5

        # Worlds where generation won't occur (by dimension IDs)
        I:"Dimension Blacklist" <
            -1
            1
         >

        # The block to generate in frozen caves
        S:"Frozen Cave Block"=packed_ice

        # Maximum Y-level at which structures generate
        # Min: 1
        # Max: 255
        I:"Max Height of Structure Generation"=63

        # Maximum length of generated structures such as stalactites
        # Min: 1
        # Max: 64
        I:"Max Length of Structure Generation"=8

        # Chance for glowing mushrooms to generate in caves
        # Min: 0.0
        # Max: 1.0
        D:"Probability of Glowing Mushrooms in Caves"=0.1

        # Chance for glowing mushrooms to generate in humid and jungle caves
        # Min: 0.0
        # Max: 1.0
        D:"Probability of Glowing Mushrooms in Humid/Jungle Caves"=0.3

        # Chance for glowing ice mushrooms to generate in frozen caves
        # Min: 0.0
        # Max: 1.0
        D:"Probability of Ice Mushrooms in Frozen Caves"=0.3

        # Chance for icicles to generate in frozen caves
        # Min: 0.0
        # Max: 1.0
        D:"Probability of Icicles in Frozen Caves"=0.6

        # Chance to reduce generation in arid caves
        # Min: 0.0
        # Max: 1.0
        D:"Probability of Less Generation in Arid Caves"=0.5

        # Chance for sandstone stalactites to generate in arid caves
        # Min: 0.0
        # Max: 1.0
        D:"Probability of Sandstone Stalactites in Arid Caves"=0.5

        # Chance for skulls to generate in caves
        # Min: 0.0
        # Max: 1.0
        D:"Probability of Skulls"=1.0E-4

        # Chance for spider webs to generate in caves
        # Min: 0.0
        # Max: 1.0
        D:"Probability of Spider Webs"=0.15

        # Chance for stalactites and stalagmites to generate
        # Min: 0.0
        # Max: 1.0
        D:"Probability of Stalactites/Stalagmites"=0.5

        # Chance for vines to generate in caves
        # Min: 0.0
        # Max: 1.0
        D:"Probability of Vines in Caves"=0.1

        # Chance for vines to generate in jungle caves
        # Min: 0.0
        # Max: 1.0
        D:"Probability of Vines in Jungle Caves"=0.5

        # Chance for more water fountains to generate in wet caves
        # Min: 0.0
        # Max: 1.0
        D:"Probability of Water Fountains in Wet Caves"=0.1

        # The chance for a skull to be found in dungeon chests
        I:"Skull Chest Chance"=50

        # How many times generation is attempted per chunk
        # Min: 1
        # Max: 100
        I:"Times to Attempt Generating Per Chunk"=10
    }

}


non-biome-specific {
    I:"Max height at which to generate glowcaps in normal biomes"=30
    D:"Probability of glowing mushrooms in caves"=0.1
    D:"Probability of skulls"=1.0E-4
    D:"Probability of spider webs"=0.15
    D:"Probability of stalactites/stalagmites"=0.5
    D:"Probability of vines in caves"=0.1
}


permissions {
    S:"Block Whitelist"=stone,grass,dirt,cobblestone,gravel,gold_ore,iron_ore,coal_ore,lapis_ore,sandstone,diamond_ore,redstone_ore,lit_redstone_ore,ice,snow,clay,monster_egg,emerald_ore
    S:"Dimension Blacklist"=-1,1
    B:"Generate flora in caves"=true
    B:"Generate sandstone stalactites in arid biomes"=true
    B:"Generate stalactites in caves"=true
}


